body {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #F0F0F0;
}

button {
  font-family: Helvetica, sans-serif;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  color: #F0F0F0;
}

input {
  outline: none;
  border: none;
  background: none;
  color: #F0F0F0;
}

input::placeholder {
  color: #F0F0F0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  height: 100vh;
  background: #082032;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container section {
  width: 80%;
  border-radius: 24px;
  background: #334756;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  border-radius: 24px 24px 0 0;
  background: #2C394B;
  color: #F0F0F0;
}

.nav-bar img{
  width: 150px;
}

.nav-bar button {
  width: 135px;
  background: #2C394B;
  font-size: 16px;
  border: 1px solid #F0F0F0;
  border-radius: 8px;
  margin: 0 10px;
  padding: 5px;
}

.nav-bar button:hover {
  background: #F0F0F0;
  color: #2C394B;
  transition: 250ms;
}

.cadastro-cliente {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  width: 30%;
  margin: 0 auto;
}

.cadastro-cliente h2 {
  margin: 30px 0;
  grid-column: span 2;
}

.cadastro-cliente input {
  border: 1px solid #F0F0F0;
  border-radius: 8px;
  padding: 8px;
  grid-column: span 2;
}

.cadastro-cliente input:focus {
  background: #F0F0F0;
  color: #2C394B;
  transition: 250ms;
}

.cadastro-cliente button {
  border: 1px solid #F0F0F0;
  border-radius: 8px;
  margin: 30px 0;
  padding: 5px;
}

.cadastro-cliente button:hover {
  background: #F0F0F0;
  color: #334756;
  transition: 250ms;
}